{% extends 'common/base.html' %}
{% from "common/post-list.html" import post_list %}

<!-- SEO 관련 헤더 태그 모음 -->
{% block title %}같이먹자! 내가 참여한 목록{% endblock %}
<!-- SEO 관련 헤더 태그 모음 끝 -->

<!-- 헤더 포함 -->
{% block header %}
    {% include 'common/header.html' %}
{% endblock %}

<!-- 컨텐츠 포함 -->
{% block content %}
<div class="container h-[calc(100vh-160px)] py-2 flex flex-col">
    {{ post_list(posts, 'my_write') }}

 <!-- 고정된 컨트롤 영역 -->
 <div
   class="font-notokr flex justify-between items-center list-control bg-white px-4"
 >
   <!-- 왼쪽 여백을 위한 빈 div -->
   <div class="w-[120px]"></div>

   <!-- 페이지네이션 -->
   <div class="flex justify-center items-center space-x-2 mt-4">
    {# 이전 #}
    <a href="{{ url_for('mypage.my_write', page=page-1) }}"
       class="px-3 py-1 border rounded {{ 'opacity-50 pointer-events-none' if page<=1 else '' }}">
      이전
    </a>
  
    {# 동적 페이지 번호 #}
    {% for p in range(start_page, end_page+1) %}
      <a href="{{ url_for('mypage.my_write', page=p) }}"
         class="px-3 py-1 border rounded {{ 'bg-main text-white' if p == page else '' }}">
        {{ p }}
      </a>
    {% endfor %}
  
    {# 다음 #}
    <a href="{{ url_for('mypage.my_write', page=page+1) }}"
       class="px-3 py-1 border rounded {{ 'opacity-50 pointer-events-none' if page>=total_pages else '' }}">
      다음
    </a>
  </div>

   <!-- 글쓰기 버튼 -->
   <div class="w-[120px] flex justify-end">
    <a
      href="{{ url_for('blog.create') }}"
      class="px-6 py-2 text-base border-2 border-transparent text-white bg-main rounded-lg hover:bg-white hover:text-main hover:border-2 hover:border-main transition-colors duration-200"
    >
      글쓰기
    </a>
  </div>
 </div>
</div>
{% endblock %}

<!-- 푸터 포함 -->
{% block footer %}
    {% include 'common/footer.html' %}
{% endblock %}